.topbar { max-height: 40px;}

main {
  padding: 3rem 0;
}

.main .nav-item { margin: 0 3em;}

.menu {
  border-top: rgba(225,225,225, 0.28) 1px solid;
  border-bottom: rgba(225,225,225, 0.28) 1px solid;
}

.bordered {border: rgba(225,225,225, 0.4) 1px solid; border-radius: 2px;}

/* Login Panel */

.login-panel {
  padding: 2em;
  margin: 1em auto;
}

.product-box h4 a { text-decoration: none; color: darkgrey;}
.img-produto {
  position: relative;
  display: block;
  max-height: 253px;
  padding: 0.8em;
  overflow: hidden;
}


.checkout { min-width: 500px;}